*{
    font-family:sans-serif ;
    font-weight: bold;
}
@media screen and (min-device-width: 1024px) {

body{
    margin: 0%;
}
/* ASIDE */
body > aside{
    background-color: #5e42a6;
    width: 20%;
    height: 100vh;
    padding: 2rem;
    float: left;
    box-sizing: border-box;
}
aside ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
aside ul li{
    color: white;
    border-bottom: 1px white solid;
    text-align: right;
    margin-top: 2rem;
}
aside img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
}
/* DIV */
body > div{
    color: #5e42a6;
    font-size: 1.5rem;
    padding-top: 2%;
    margin: 0 0 2% 27.5%;
}
/* MAIN */
main{
    width: 80%;
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}
main article{
    
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    margin-right: 2.2rem;
    box-sizing: border-box;
}
main article:first-child{
    background-color: #fe7472;
}
main article:nth-child(2){
    background-color: #749ffe;
}
main article:nth-child(3){
    background-color: #5e42a6;
}
main article:nth-child(4){
    background-color: #ffb274;
}
main div{
    color: white;
    text-align: center;
    margin-top: 1rem;
}

}
@media screen and (min-device-width: 1200px) {
    body{
        margin: 0%;
    }
    /* ASIDE */
    body > aside{
        background-color: #5e42a6;
        width: 20%;
        height: 100vh;
        padding: 2rem;
        float: left;
        box-sizing: border-box;
    }
    aside ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 5rem;
    }
    aside ul li{
        color: white;
        border-bottom: 1px white solid;
        text-align: right;
        margin-top: 2rem;
    }
    aside img{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 8rem;
    }
    /* DIV */
    body > div{
        color: #5e42a6;
        font-size: 1.5rem;
        padding-top: 2%;
        margin: 0 0 2% 27.5%;
    }
    /* MAIN */
    main{
        width: 60%;
        float: left;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; 
    }
    main article{
        
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        margin-right: 2.2rem;
        box-sizing: border-box;
    }
    main article:first-child{
        background-color: #fe7472;
    }
    main article:nth-child(2){
        background-color: #749ffe;
    }
    main article:nth-child(3){
        background-color: #5e42a6;
    }
    main article:nth-child(4){
        background-color: #ffb274;
    }
    main div{
        color: white;
        text-align: center;
        margin-top: 1rem;
    }
}
/* VISTA MOVIL */
@media screen and (max-device-width: 425px) {
    body{
        margin: 0%;
    }
    /* ASIDE */
    body > aside{
        background-color: #5e42a6;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
    }
    aside ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        padding: 0%;
    }
    aside ul li{
        color: white;
        border-bottom: 1px white solid;
        text-align: center;
        margin-top: 2rem;
    }
    aside img{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 8rem;
    }
    /* DIV */
    body > div{
        color: #5e42a6;
        font-size: 1.5rem;
        padding-top: 2%;
        margin: 2% 2% 2% 12%;
    }
    /* MAIN */
    main{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    main article{
        display: block;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        margin-right: 2.2rem;
        box-sizing: border-box;
    }
    main article:first-child{
        background-color: #fe7472;
    }
    main article:nth-child(2){
        background-color: #749ffe;
    }
    main article:nth-child(3){
        background-color: #5e42a6;
    }
    main article:nth-child(4){
        background-color: #ffb274;
    }
    main div{
        color: white;
        text-align: center;
        margin-top: 1rem;
    }
}
/* VISTA TABLET VERTICAL */
@media screen and (min-device-width: 426px) and (max-device-width: 767px) {
    body{
        margin: 0%;
    }
    /* ASIDE */
    body > aside{
        background-color: #5e42a6;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 0 2% 5%;
    }
    aside ul{
        list-style-type: none;
        display: inline-flex;

    }
    aside ul li{
        color: white;
        margin-right: 2rem;
    }
    /* DIV */
    body > div{
        color: #5e42a6;
        font-size: 1.5rem;
        padding-top: 2%;
        margin: 0 0 2% 10%;
    }
    /* MAIN */
    main{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

    }
    main article{
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        margin-right: 1.5rem;
        box-sizing: border-box;
    }
    main article:first-child{
        background-color: #fe7472;
    }
    main article:nth-child(2){
        background-color: #749ffe;
    }
    main article:nth-child(3){
        background-color: #5e42a6;
    }
    main article:nth-child(4){
        background-color: #ffb274;
    }
    main div{
        color: white;
        text-align: center;
        margin-top: 0.5rem;
    }
}
/* VISTA TABLET HORIZONTAL */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) {
    body{
        margin: 0%;
    }
    /* ASIDE */
    body > aside{
        background-color: #5e42a6;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2% 0 2% 5%;
    }
    aside ul{
        list-style-type: none;
        display: inline-flex;

    }
    aside ul li{
        color: white;
        margin-right: 2rem;
    }
    /* DIV */
    body > div{
        color: #5e42a6;
        font-size: 1.5rem;
        padding-top: 2%;
        margin: 5% 0 5% 5%;
    }
    /* MAIN */
    main{
        width: 100%;
        display: inline-flex;
        justify-content: center;

    }
    main article{
        height: 10rem;
        width: 10rem;
        padding-bottom: 12rem;
        margin-right: 1rem;
        box-sizing: border-box;
    }
    main article img{
        height: 10rem;
        width: 10rem;
    }
    main article:first-child{
        background-color: #fe7472;
    }
    main article:nth-child(2){
        background-color: #749ffe;
    }
    main article:nth-child(3){
        background-color: #5e42a6;
    }
    main article:nth-child(4){
        background-color: #ffb274;
    }
    main div{
        color: white;
        font-size: 0.8rem;
        text-align: center;
        margin-top: 0.5rem;
    }
}